<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static_collected/admin/css/home_page.css">
    <script src="https://kit.fontawesome.com/72411b8f60.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <!--Header-->
    <section id="header">
        <a href="#"><img src="" class="logo" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a class="active" href="index.html">HOME</a></li>
            <li><a href="#">CONTENT</a></li>
            <li><a href="#">RESOURCES</a></li>
            <li><a href="#">DISCUSSIONS</a></li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <i id="bar" class="fas fa-outdent"></i>
    </div>
    </section>

    <div class="body">
        <h1>Welcome To Resource Sharing!</h1>
        <h2>Choose your respective school:</h2>
    </div>
    <div class="button-container">
        <button class="button">School of Computer Science</button>
        <button class="button">School of Advance Engineering</button>
        <button class="button">School of Design</button>
      </div>
      <div class="button-container">
        <button class="button">School of Modern Media</button>
        <button class="button">School of Law</button>
        <button class="button">School of Business</button>
      </div>
      <div class="button-container">
        <button class="button" style="margin-right: -1090px; margin-left: -590px;">School of Liberal Studies</button>
        <button class="button" >School of Health Science</button>
      </div>

      <!-- footer -->

      <footer>
        <div class="footer-content">
            <h3>Resource Sharing</h3>
            <p>The resource sharing web app is designed to facilitate university students in sharing educational resources such as courses, notes, and other relevant materials.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Resource Sharing</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Blog</a></li>
                      </ul>
                    </div>
        </div>

    </footer>
</body>
</html>