<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Resource Upload form</title>
    <link rel="stylesheet" href="../static_collected/admin/css/resource_upload_form.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Upload Resources</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Resource Title</span>
            <input type="text" placeholder="Enter your resource title" required>
          </div>
          <div class="input-box">
            <span class="details">Author</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Tags</span>
            <input type="text" placeholder="Enter tags for your resource" required>
          </div>
          <div class="input-box">
            <span class="details">Upload file</span>
            <input type="file"  required style="border: none;">
          </div>
          <div class="input-box">
            <span class="details">Subject</span>
            <input type="text" placeholder="Enter subject" required>
          </div>
          <div class="input-box">
            <span class="details">Language</span>
            <input type="text" placeholder="Enter language" required>
          </div>
          <div class="input-box">
            <span class="details">Description</span>
            <textarea type="text" placeholder="Enter description" required></textarea>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Upload">
        </div>
      </form>
    </div>
  </div>

</body>
</html>