<!-- Base template -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title></title>
</head>

<body>
    <div>
        <h1 onclick=""location.href="{% url 'index' %}" "">
        hello world
        </h1>
    </div>
    <div>
        {% block content %}
        
        {% endblock %}
    </div>
</body>

</html>